body{
    font-size:large;
}

img.icon{
    width:100px;
    height:100px;
}

div.greenWell{
    background:#558855;
}
div.blueWell{
    background:#555588;
}
div.purpleWell{
    background-color: #885588;
}